* {
    font-family: 'Sigmar One', cursive;
}


h1 {
    text-align:center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

html {
    background: rgb(35,83,138);
}

body {
    margin: 0;
    padding-top: 20px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

main {
    max-width: 960px;
    margin: 0 auto;
}

video {
    background:black;
    margin: 10px;
}

#llista, #visor {
    float: left;
}

#llista {
    width: 30%;
}


#visor {
    width: 65%;
    text-align: center;
}

#controls {
    display: flex;
    justify-content: space-around;
}

#llista ul {
    padding: 0;
    margin: 0;
}

#llista li {
    list-style: none;
    margin: 5px;
}

.boto {
    flex-basis: 20%;
}

.boto, #llista li {
    border-radius: 10px;
    border: 2px solid #105F85;
    padding: 5px;
    color: white;
    background-color: #2897E8;
    cursor: pointer;
}

.boto:hover, #llista li:hover {
    background-color: #105F85;
}

.clearfix {
    clear: both;
    border: none;
}

#llista, #visor {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;

    /* Ombra */
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.sonor {
    transition: 0.5s ease-out;
}

.sonor:hover {
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-direction: alternate;
}

@keyframes zoom {
    from {
        transform: scale(1.0) rotate(5deg);
    }

    to {
        transform: scale(1.1) rotate(-5deg);
    }
}